src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="47e4f992-a838-4cd4-be5d-8e67547adba1" >
		<wsc:connection wsdlLocation="HelloService.wsdl" service="Hello_Service" port="Hello_Port" />
	</wsc:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="65a115f0-397b-44cf-95b4-3f31a0194fab" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Ganesha@123" database="bookmyshow" />
	</db:config>
	<sub-flow name="preparepayload" doc:id="5b6fe354-6c37-440e-a36b-b70faace56b9" >
		<set-payload value='#[{ "seat no":payload,&#10;   "movie name":vars.moviename,&#10;   "phone no":vars.mobnum&#10;}]' doc:name="Set Payload" doc:id="620429ad-f65a-4760-9c14-3c2f96990968" />
	</sub-flow>
	<flow name="implementationFlow" doc:id="eedf8ddc-c5f8-41b8-a051-ce5934fdf367" >
		<http:listener doc:name="Listener" doc:id="b1d6fd17-782b-4ea9-9fcd-4dcdbb9bbd85" config-ref="HTTP_Listener_config1" path="/movietable"/>
		<db:select doc:name="Select" doc:id="e2223697-8b9c-462c-824f-a3cfd76b1c48" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM bookmyshow.movie]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="ea5376a2-fc3f-48dc-adcb-5233b2671d16" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="912f4167-8972-4c59-94bf-a79d5cf376e8" />
	</flow>
	<flow name="implementationFlow1" doc:id="cd0068d3-e490-4318-964a-72420831d91e" >
		<http:listener doc:name="Listener" doc:id="9720cf62-78cb-43a8-97ad-9a70ef9a3eac" config-ref="HTTP_Listener_config1" path="/addmovie"/>
		<set-payload value='#[{&#10;    "id": 6,&#10;    "image": "image1",&#10;    "rating": "4.2",&#10;    "name": "movie1",&#10;    "categry": "action"&#10;  }]' doc:name="Set Payload" doc:id="61bbe8a1-880a-4a7d-bae8-4048804b33d7" />
		<db:insert doc:name="Insert" doc:id="48648a69-b836-4ea0-a62a-d4cac6fff8a7" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO bookmyshow.movie (id, rating, name, image, categry)
VALUES (:id, :rating, :name, :image, :categry);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
    "id": payload.id,
    "image": payload.image,
    "rating": payload.rating,
    "name": payload.name,
    "categry": payload.categry
  }]]]></db:input-parameters>
		</db:insert>
	</flow>
	<flow name="getmovie" doc:id="c2603577-436b-46a3-bb2d-b1bda295ce3b" >
		<http:request method="GET" doc:name="Request" doc:id="ba56cbd6-38af-48c2-bba8-3580cec16968" config-ref="HTTP_Request_configuration" path="/movies">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"category" : "action",
	"destination" : "mumbai"
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="b0ef9b14-f3bf-4258-ae17-3035be18ac05" message="#[payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="3835942b-0cb8-4a71-b15d-c119752fea1e" type="HTTP:BAD_REQUEST">
				<set-payload value="please check input parameters client id and client secret" doc:name="Set Payload" doc:id="833998b8-e61a-4c92-909e-dc5e665cd096" />
			</on-error-continue>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="80ec2a7f-7f48-4091-8d2b-bac3c3b30394" type="ANY">
				<set-payload value="check the server port " doc:name="Set Payload" doc:id="cf4a1541-4fe0-4542-bc65-2892577a0537" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="singlebook" doc:id="58eb37cd-ab63-4545-bebc-d0ebf2b9367d" >
		<set-payload doc:name="Set Payload" doc:id="e5d07448-8933-4eea-895f-5547addbecb2" value="payload"/>
		<http:request method="POST" doc:name="Request" doc:id="768b23ef-a055-49fe-84bc-4ad744a39c91" config-ref="HTTP_Request_configuration2" path="/singlebooking">
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="730435fe-61c3-4524-b0ba-45029e6bb59b" message="payload"/>
	</flow>
	<flow name="groupbooking" doc:id="6c94a90e-92f7-4c66-9464-e49fc6fdf7b8" >
		<set-variable value="#[payload.movieName]" doc:name="movie name" doc:id="4410cc15-0809-450f-baba-bee1c0dcc8f0" variableName="moviename"/>
		<set-variable value="#[payload.phoneNo]" doc:name="phone num" doc:id="298a2551-ad5c-44d3-ba5b-19d68229f96b" variableName="mobnum"/>
		<set-payload value="#[payload.seatNo]" doc:name="Set Payload" doc:id="0b57d9a8-65e1-47dd-b97d-da40dd604df4" />
		<foreach doc:name="For Each" doc:id="bef2897c-20ff-48c7-9a6e-842a1092a5d2" >
			<flow-ref doc:name="Flow Reference" doc:id="3fff7b97-c1c4-4fd8-84e3-6791dc28bf99" name="preparepayload" />
			<flow-ref doc:name="Flow Reference" doc:id="4d8578a9-b487-4038-aba8-9aa225e2caae" name="singlebook"/>
		</foreach>
		<flow-ref doc:name="Flow Reference" doc:id="c8b518d9-1946-4522-afef-9d47f3b5a324" name="preparepayload"/>
		<http:request method="POST" doc:name="Request" doc:id="45919913-3ece-44b6-89f4-47d746556b8d" config-ref="HTTP_Request_configuration3" path="/groupbooking"/>
		<logger level="INFO" doc:name="Logger" doc:id="d855cc03-3806-4f46-bc97-4ce998fc6060" message="#[payload]"/>
	</flow>
	<sub-flow name="consumemock" doc:id="ce68e5c3-463e-46ef-811f-e484d5a94b59" >
		<ee:transform doc:name="Transform Message" doc:id="431bffcc-4ed9-4d72-965a-4e1a9eadb2f6">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
var tax = 0.085
var discount = 0.05
fun getSubtotal (items) = items reduce ((item, accumulator = 0) ->
        accumulator + (item.unit_price * item.quantity * (1 - discount)))
---
invoice: {
    header: payload.invoice.header,
    items: { (payload.invoice.items map {
        item : {
            description: $.description,
            quantity: $.quantity,
            unit_price: $.unit_price,
            discount: (discount * 100) as Number ++ "%",
            subtotal: $.unit_price * $.quantity * (1 - discount)
        }
    }) },
    totals:
    {
        subtotal: getSubtotal(payload.invoice.items ),
        tax: (tax * 100) as Number ++ "%",
        total: getSubtotal(payload.invoice.items ) * (1 + tax)
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<flow name="orders" doc:id="cee00380-1c69-4265-981c-f2ae5ae30572" >
		<try doc:name="Try" doc:id="82346903-bf99-4aae-842d-a6027990fd92" >
			<ee:transform doc:name="Transform Message" doc:id="f003383a-3053-4d02-9ac2-f9654004e189" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
	body:{
		message:"sidd"
	}write "application/xml"
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<wsc:consume operation="sayHello" doc:name="Consume" doc:id="6064e3fb-4b88-48ad-a5bd-f23c4c5b671c" config-ref="Web_Service_Consumer_Config"/>
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="f757fc73-20ad-4d27-b7ac-10bf64f167cc" type="ANY">
					<set-payload value="wsdl sample not working" doc:name="Set Payload" doc:id="790aa155-b4f1-4bff-bfa1-4eb5002cfed9" />
				</on-error-continue>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="Logger" doc:id="a51f3f19-c906-41e5-99db-5b96ba018a5b" message="#[payload]" />
		<set-payload value='#[{&#10;  "invoice": {&#10;    "header": {&#10;      "order_id": "5",&#10;      "customer_name": "Vijay",&#10;      "customer_state": "US"&#10;    },&#10;    "items": [&#10;      {&#10;        "description": "movie 1",&#10;        "quantity": "2",&#10;        "unit_price": "10"&#10;      },&#10;      {&#10;        "description": "movie 2",&#10;        "quantity": "1",&#10;        "unit_price": "30"&#10;      }&#10;    ]&#10;  }&#10;}]' doc:name="Set Payload" doc:id="9b604282-6c3a-4ca9-ae6a-073b545214f0" />
		<flow-ref doc:name="Consume" doc:id="38447bbb-2d93-4b2b-9df8-020842c13459" name="consumemock"/>
		<logger level="INFO" doc:name="Logger" doc:id="9569a00d-2b05-4c20-af82-cdb6982de0ea" />
	</flow>
	<sub-flow name="idis3" doc:id="2056ae4c-61a3-48dc-b44d-2e88ab070d07" >
		<set-payload value='#[{&#10;    "name": "Movie 3",&#10;    "rating": 2.5,&#10;    "image": "image3.jpg",&#10;    "category": "Comedy"&#10;  }]' doc:name="Set Payload" doc:id="c09a567d-6a48-4728-8c5a-1e13e0582f48" />
		<ee:transform doc:name="Transform Message" doc:id="40a9fed9-7863-4534-b40c-c87a6ee445f2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<raise-error doc:name="Raise error" doc:id="798f0e2a-0715-40ef-a932-0468bae980d8" type="ANY" description="idis3"/>
		<logger level="INFO" doc:name="Logger" doc:id="1f9bcbec-6bd5-4f2a-a5c4-d54b1bc2b9a2" />
	</sub-flow>
	<sub-flow name="idis2" doc:id="30f4389d-31cb-48bd-b75b-b399a4c8db4d" >
		<set-payload value='#[{&#10;    "name": "Movie 2",&#10;    "rating": 2.5,&#10;    "image": "image2.jpg",&#10;    "category": "Comedy"&#10;  }]' doc:name="Set Payload" doc:id="eb321dca-79ea-4203-8c78-efd2c596f60f" />
		<ee:transform doc:name="Transform Message" doc:id="7df9ec0a-7ac8-480d-a550-fd751267053f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7f0fe63e-2a57-4f15-a400-6c4a012b0676" />
	</sub-flow>
	<sub-flow name="idis1" doc:id="b18a68ef-74d1-4ef2-b3fd-fe0a7081948a" >
		<set-payload value='#[{&#10;    "name": "Movie 1",&#10;    "rating": 2.5,&#10;    "image": "image2.jpg",&#10;    "category": "Comedy"&#10;  }]' doc:name="Set Payload" doc:id="e973119a-f017-4246-804d-283b6cc97dfd" />
		<ee:transform doc:name="Transform Message" doc:id="4a4f6c9b-97d1-4554-8fa2-ac861d98e58d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="19498cc4-bd2f-4ea6-9b96-97437f41ff4a" />
	</sub-flow>
	<flow name="moviebyid" doc:id="9385d237-31c1-4d9e-a291-15683defbdf7" >
		<choice doc:name="Choice" doc:id="aa3c5376-e855-4650-aa7c-326572aebbdd" >
			<when expression='#[attributes.uriParams.ID == "1"]'>
				<flow-ref doc:name="Flow Reference" doc:id="ae706e99-bce2-494a-b8c3-7736b810616f" name="idis1"/>
			</when>
			<when expression='#[attributes.uriParams.ID == "2"]'>
				<flow-ref doc:name="Flow Reference" doc:id="3f1cc7ea-4e05-4877-acd4-d78127c7b0ce" name="idis2"/>
			</when>
			<when expression='#[attributes.uriParams.ID == "3"]'>
				<flow-ref doc:name="Flow Reference" doc:id="3309e054-4221-48f6-88c2-d06e25c7cbec" name="idis3"/>
			</when>
			<otherwise>
				<set-payload value="movie not available" doc:name="Set Payload" doc:id="20474038-527a-4262-b78c-6ffb6153474a" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="eb2d9b35-6990-4d7f-bbb2-8ae104972a18" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="cfd96cc4-63c8-4dd0-83e9-eeebdc8949be" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="e19a730b-48e5-4f21-944c-489b8aed59af" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message:"check inputs"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
